{# Author : Ludwig GUERIN #}
{% extends "modules/layout.twig" %}

{% block keywords %}{% endblock %}

{% block title %}End{% endblock %}

{% if not error %}
    {% set error=[] %}
{% endif %}

{% block body %}
    {# TODO: create the view #}
    <h1 id="title">{% if won %}You won !{% else %}You lost !{% endif %} <a href="{{ baseurl }}/game/play">Play again</a>, <a href="/auth/logout">Quit</a> </h1>

    <div id="chart" data-pie='{{ chartData | raw }}'> {# style="width: 80vw; height: 80vh;" #}
    </div>

    <div id="stats">
        <div id="player">
            <h2>Victory/Defeat ratio: {{ winRatio | number_format(1, '.', ',') }}%</h2>
            <p>
                Amount of victory: {{ winAmount | number_format(0, '.', ' ') }}
            </p>
            <p>
                Amount of defeat: {{ lossAmount | number_format(0, '.', ' ') }}
            </p>
        </div>

        <table id="bests">
            <caption>Best three players</caption>
            <thead>
                <tr>
                    {% for key in statsKeys %}<td>{{ key }}</td>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for statsPlayer in statsForThreeBests %}
                    <tr>{% for key in statsKeys %}<td>{{ statsPlayer[key] }}</td>{% endfor %}</tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}